body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;/*Disable scroll for all doc*/
height: 100%;
max-height: 100%;
}
#header, #footer{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 130px; /*Height of top frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: #ccc;
color: black;
}
#footer{
top: auto;
bottom: 0;
height: 110px; /*Height of bottom frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: #ccc;
color: black;
}
#content{
top: 130px; /*Set top value to header*/
bottom: 110px; /*Set bottom value to footer*/
position: fixed;
left: 0;
right: 0;
background: #fff;
}
* html body{ <!--*IE6 hack*/<br /--> padding: 130px 0 110px 0;
}
* html #content{ /*IE6 hack*/
height: 100%;
width: 100%;
}


div.cColumn {
	top: 130px; /*Set top value to header*/
	bottom: 110px; /*Set bottom value to footer*/
	position: fixed;
	background: #fff;

	overflow: auto;
}


#wsMenu {
	width: 250px;
	right: 0px;
	
}
	
#wsPlates {
	left: 0px;
	right: 260px;
	
}



/*стиль рабочей области (меню, плашки,...)*/
.ws {
	display: 			block;
	width: 				-0.4em;
	padding: 			0.2em;
	margin: 				0.2em;
}

/*Стиль для плашки параметров*/	
.plt {
	width: 				99%;
	display: 			block;
	border:				1px solid;
	border-radius:		0.4em;
	margin-top:			0.1em;
}
/*Заголовок пплашки параметров */	
.pltHead {
	width: 				99%;
	display: 			block;  

}	
/*Подпись текста заголовка плашки*/
.pltHeadTitle{
	font-size:			1em;
	width: 				10em;
	display:				inline-block;
	margin: 				auto 0.1em auto 0.4em;
	font-style: 		oblique;
	font-weight: 		bold;
	color: 				#000B55;
}
/*текст заголовка плашки*/
.pltHeadText{
	font-size:			0.8em;
	margin-top: 		auto;
	vertical-align: 	bottom;
	display:				inline-block;
	font-style: 		oblique;
	color: 				#000B55;
}
/*стоимость в заголовке плашки*/
.pltHeadCost{
	float: 				right;
	font-size:			1em;
	width: 				7em;
	margin: 				auto 0.4em auto 0.1em;
	vertical-align: 	bottom;
	display:				inline-block;
	text-align: 		right;
	font-style: 		oblique;
	font-weight: 		bold;
	color: 				#000B55;
}

.pltClue{
	display: 			block;
	float:				left;
	width:				100px;
	overflow: 			hidden;
}

/*Тело плашки*/

.pltBody {
/*	width: 				100%;
	display: 			block; 
	margin-left: 		100px;  */
	height: 				110px;
/*	border:				1px solid;*/
	display: 			block;
	margin-left: 		100px; 
}	
.pltBodyHalf {
	margin: 				0.1em;	
	width: 				49%;
	display: 			inline-block;
}	
.pltBodyFull {
	margin: 				0.1em;	
	width: 				98%;
	display: 			inline-block;
}	
.pltBodyLeft {
	float: 				left;
	width: 				150px;
	margin: 				0.1em;	
}	
.pltBodyFit {
	margin: 				0.1em;
	width: 				98%;
	
}	

/*Блок поля ввода*/
.if {
	
}
/*Название поля ввода*/
.ifCaption{
	display: 			inline-block;
	width:				8em;
	margin:				auto;
}
/*поле ввода текста*/		
.ifText{
	display: 			inline;
	margin-top: 		1px;
}
/*подпись единиц измерения поля ввода*/
.ifUnit{
	display: 			inline-block;
	width:				4em;
}
/*контейнер для слайдера*/
.ifSlide{
	display: 			inline;
}
/*контейнер общего назначения*/
.ifContainer{
	display: 			inline-block;
}


/*Багет       */
.bagetProfil{
	display: 			inline-block;
	height: 				100px;
	width:				100px;
	vertical-align: 	middle;
}
.bagetFas{
	display: 			inline-block;
	height: 				100px;
	width:				300px;
	vertical-align: 	middle;
}
.bagetText{
	display: 			inline-block;
	height: 				100px;
	vertical-align: 	middle;
}





.wide{
	width: 				100%;
}	

	
.hidden {
  display: 				none;
}	